<app-navbar [global]="global"></app-navbar>
<div class="container">
    <div class="panel">
        <div class="country">
            <div class="name">
                <img  [src]="flag" alt=""/>
                <p>{{name}}</p>
            </div>
            <div class="change-country" (click)="show()">
                change
                <i class='bx bx-chevron-down-circle'></i>
            </div>
            <div [class]="search_country">
                <div class="search-box">
                    <i class="bx bx-search">
                        <input type="text" id="search-input" placeholder="Search..."  [(ngModel)]="searchFilter" >
                    </i>
                </div>
                <div class="country-list">
                    <ul *ngFor="let country of countries">
                        <li (click)="selected(country)" >
                            <img [src]="country.flag" />
                             <p>{{country.name}}</p>   
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="data" [(ngModel)]="corona" ngDefaultControl>  
            <div class="division" > 
                <div class="total-cases">
                    <div class="title">
                        Cases
                    </div>
                    <div class="value">
                        {{corona?.TotalConfirmed}}
                    </div>
                    <div class="new-value">
                        +{{corona?.NewConfirmed}}
                    </div>
                </div>     
                
                <div class="recovered">
                    <div class="title">
                        Recovered
                    </div>
                    <div class="value">
                        {{corona?.TotalRecovered}}
                    </div>
                    <div class="new-value">
                        +{{corona?.NewRecovered}}
                    </div>
                </div>
            </div>   
            <div class="deaths">
                <div class="title">
                    Deaths
                </div>
                <div class="value">
                    {{corona?.TotalDeaths}}
                </div>
                <div class="new-value">
                    +{{corona?.NewDeaths}}
                </div>
            </div>
        </div>
    </div>
    <div class="chart">
        <canvas id="axes_line_chart" height="95px"></canvas>
    </div>
</div> 
<app-footer></app-footer>
